html {
  font-family: 'Fontdiner Swanky', cursive;
}

body {
  margin: 0;
  font-family: 'Fontdiner Swanky', cursive;
}

.bg-lesbrutassesViolet {
  background-color: #655bc2 !important;
}

.bg-lesbrutassesRose {
  background-color: #f6007d !important;
}

a.bg-lesbrutassesRose:hover, a.bg-lesbrutassesRose:focus,
button.bg-lesbrutassesRose:hover,
button.bg-lesbrutassesRose:focus {
  background-color: #1d2124 !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fontdiner Swanky', cursive;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.navbar {
  padding: 1.5rem 1rem;
}

nav li{
    display:inline;
    padding: 0px 100px;
	font-size : 18px;
    margin:0;
    color:white;
}

.row {
  margin-top: 50px;
}


