<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Les Brutasses</title>
<meta name="description" content="{{ site.description }}">
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/lesBrutasses.css">
<link
	href="https://fonts.googleapis.com/css?family=Fontdiner+Swanky&display=swap"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

	<div>
		<div class="d-block d-lg-none"
			style="text-align: center; padding-top: 30px; padding-bottom: 30px;">
			<img src="img/bandeauBrutasseSmall.svg" alt="Responsive image"
				style="height: 41px">
		</div>
		<a class="nav-link" href="index.html">
			<div class="d-none d-lg-block" style="text-align: center;">
				<img src="img/bandeauBrutasse.svg" alt="Responsive image"
					style="height: 130px">
			</div>
		</a>
	</div>
	<div class="specialFont"
		style="text-align: center; background: #655bc2; color: white; height: 90px; line-height: 90px; font-size: 1.3em; padding-left: 6px; padding-right: 6px;">
		Séléctionnez votre brutasse !</div>


	<div class="container">

		<div class="row text-center"
			style="margin-top: 30px; margin-bottom: 40px">
			<div class="col">
				<img src="img/salamandre.svg" style="height: 200px;">
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row text-center">
			<div class="col">
				<h3 style="color: #f6007d;">Le calendrier de Jean</h3>
			</div>
		</div>

		<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
			<div class="col mb-4">
				<div class="card h-100">
					<h5 class="card-header" style="white-space: nowrap;">Lundi</h5>
					<div class="card-body">
						<p class="card-text">19h - 21h : Live - guitare</p>
						<p class="card-text">21h - 22h : Live - parapsychic</p>
						<p class="card-text">22h - 23h : Vidéo - lecture</p>
					</div>
				</div>
			</div>
			<div class="col mb-4">
				<div class="card h-100">
					<h5 class="card-header" style="white-space: nowrap;">Mardi</h5>
					<div class="card-body">
						<p class="card-text">Repos</p>

					</div>
				</div>
			</div>
			<div class="col mb-4">
				<div class="card h-100">
					<h5 class="card-header" style="white-space: nowrap;">Mercredi</h5>
					<div class="card-body">
						<p class="card-text">19h - 21h : Live - guitare</p>
						<p class="card-text">21h - 22h : Live - parapsychic</p>
						<p class="card-text">22h - 23h : Vidéo - lecture</p>
					</div>
				</div>
			</div>
			<div class="col mb-4">
				<div class="card h-100">
					<h5 class="card-header" style="white-space: nowrap;">Jeudi</h5>
					<div class="card-body">
						<p class="card-text">19h - 21h : Live - guitare</p>
						<p class="card-text">21h - 22h : Live - parapsychic</p>
						<p class="card-text">22h - 23h : Vidéo - lecture</p>
					</div>
				</div>
			</div>
			<div class="col mb-4">
				<div class="card h-100">
					<h5 class="card-header" style="white-space: nowrap;">Vendredi</h5>
					<div class="card-body">
						<p class="card-text">Repos</p>
					</div>
				</div>
			</div>
			<div class="col mb-4">
				<div class="card h-100">
					<h5 class="card-header" style="white-space: nowrap;">Samedi</h5>
					<div class="card-body">
						<p class="card-text">19h - 21h : Live - guitare</p>
						<p class="card-text">21h - 22h : Live - parapsychic</p>
						<p class="card-text">22h - 23h : Vidéo - lecture</p>
					</div>
				</div>
			</div>
			<div class="col mb-4">
				<div class="card h-100">
					<h5 class="card-header" style="white-space: nowrap;">Dimanche</h5>
					<div class="card-body">
						<p class="card-text">19h - 21h : Live - guitare</p>
						<p class="card-text">21h - 22h : Live - parapsychic</p>
						<p class="card-text">22h - 23h : Vidéo - lecture</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.container -->

	<!-- Bootstrap core JavaScript
================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->


	<script src="js/jquery-3.4.1.js"></script>
	<script src="js/bootstrap.min.js"></script>

</body>


</html>
