<!DOCTYPE html>
<html lang="en">  
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <meta name="viewport" content="width=device-width, initial-scale=1">  
  <title>Les Brutasses</title>
  <meta name="description" content="{{ site.description }}">  
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">  
  <link rel="stylesheet" type="text/css" href="css/lesBrutasses.css"> 
  <link href="https://fonts.googleapis.com/css?family=Fontdiner+Swanky&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
</head>

<body>  
	<header>
	  <img src="img/bandeauBrutasse.svg" class="img-fluid" alt="Responsive image" style=width:100%>
	 	<div class="text-center"> 
		  <nav class="navbar navbar-expand-sm navbar-dark bg-lesbrutassesViolet justify-content-center">
		    <!-- Links -->
		     <ul class="navbar-nav pull-right">
		        <li class="nav-item active">
					<h5>Séléctionnez votre brutasse !</h5>
		        </li>
		     </ul>
		  </nav>
		</div>
	</header>
	
    <div class="container">
		<div class="text-center"> 
	        <div class="row" style="margin-top: 50px;">
				<div class="col"></div>
	            <div class="col">
					<a href="jean.html">
					<h3 style="margin-bottom:15px;">Jean</h3>
						<img src="img/salamandre.svg" style="height: 200px;" alt="Responsive image">					
	            	</a>
				</div>
				<div class="col" style="border-left: solid 1px; border-color : #f6007d;">
					<a href="bertrand.html">
						<h3 style="margin-bottom:15px;">Bertrand</h3>
	                	<img src="img/cowboy.svg" style="height: 200px;" alt="Responsive image">						
					</a>		            
				</div>
				<div class="col"></div>
	        </div>
			<div class="row" style="margin-top: 70px;">
	            <div class="col">
	                <h3 style="color:#f6007d;">Suivez nous !</h3>
	            </div>
	        </div>
			<div class="row">
				<div class="col">
					<div class="row" style="margin-top: -5px">
						<div class="col"></div>
						<div class="col">
<!--							<script src="https://apis.google.com/js/platform.js"></script> -->
							<a href="https://www.youtube.com/channel/UCrFDXbfqJwx-vW-X2fRraLQ?sub_confirmation=1" class="btn btn-outline-danger btn-lg" >Suivre l'aventure sur <i class="fa fa-youtube-play fa-5x" aria-hidden="true"></i></a>
							
						</div>
			            <div class="col">
							<a href="https://twitter.com/intent/follow?ref_src=twsrc%5Etfw&screen_name=lesBrutasses&tw_p=followbutton" class="btn btn-outline-primary btn-lg" >Suivre l'aventure sur <i class="fa fa-twitter fa-5x" aria-hidden="true"></i></a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			            </div>
						<div class="col"></div>	
					</div>
				</div>	        
			</div>
		</div>
 	</div><!-- /.container -->

    <div class="container">
		<div class="text-center"> 
			<div class="row"  style="margin-top: 70px;">>
	            <div class="col">
	                <h3 style="color:#f6007d;">Les live de la semaine<h3>
	            </div>
	        </div>
	        <div class="row">
				<div class="col">
					<table class="table">
							<thead class="thead-violet">
							  <tr>
							    <th><font color="#fff">Jour</font></th>
							    <th><font color="#fff">La brutasse</font></th>
							    <th><font color="#fff">Quoi</font></th>
							    <th><font color="#fff">Quand</font></th>
							  </tr>
							</thead>
						    <tbody>
						      <tr>
								<td>lundi</td>
								<td>Jean</td>
								<td>Guitare</td>
								<td>18 h - 20 h</td>
						      </tr>
						      <tr>
								<td>Mardi</td>
								<td>Bertrand</td>
								<td>Guitare</td>
								<td>18 h - 20 h</td>
						      </tr>
						      <tr>
								<td>Mercredi</td>
								<td>Bertrand</td>
								<td>Dessin</td>
								<td>18 h - 20 h</td>
						      </tr>
						      <tr>
								<td>Jeudi</td>
								<td>Jean</td>
								<td>Guitare</td>
								<td>18 h - 20 h</td>
						      </tr>
						      <tr>
								<td>Vendredi</td>
								<td>Bertrand</td>
								<td>Guitare</td>
								<td>18 h - 20 h</td>
						      </tr>
						      <tr>
								<td>Samedi</td>
								<td>Jean</td>
								<td>Guitare</td>
								<td>18 h - 20 h</td>
						      </tr>
						      <tr>
								<td>Dimanche</td>
								<td>Jean</td>
								<td>Guitare</td>
								<td>18 h - 20 h</td>
						      </tr>
						    </tbody>
						 </table>
				</div>
	        </div>
		</div>
 	</div><!-- /.container -->
  
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
  
  
	<script src="js/jquery-3.4.1.js"></script>
	<script src="js/bootstrap.min.js"></script>
  
</body>

                             
</html>
