<!DOCTYPE html>
<html lang="en">  
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <meta name="viewport" content="width=device-width, initial-scale=1">  
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  
  <meta name="description" content="{{ site.description }}">
  
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">  
    
</head>

<body>  
    
  
  <nav class="navbar navbar-expand-sm bg-lesbrutassesRose justify-content-center">
    <a class="navbar-brand" href="#">
      <img src="img/logoBandeau.png" style="width:64px;">
    </a>

    <!-- Links -->
     <ul class="navbar-nav">
        <li class="nav-item active">
           <a class="nav-link" href="#">L'antre des Brutasses</a>
        </li>
        <li class="nav-item active">
           <a class="nav-link" href="#">Le Hall des Brutasses</a>
        </li>
        <li class="nav-item active">
           <a class="nav-link" href="#">Les défis de Brutasse</a>
        </li>
     </ul>
  </nav>

  <div class="container">

    <div class="starter-template">
      <h1>L'antre des Brutasses</h1>
      <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
    </div>

  </div><!-- /.container -->
  
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
  
  
  <script src="js/jquery-3.4.1.js"></script>
  <script src="js/bootstrap.min.js"></script>
  
</body>
</html>
